{{!--
<div class="row">
  <h2 class='{{col 5}}'> {{t "accueil.home.business"}} </h2>
  <h2 class='{{col 5}} {{offset 2}}'> {{t "accueil.home.projects"}}</h2>
</div>
--}}
<div class="row">
  <div class='{{col 5}}  well' id="numberPeopleIndcatorContainer"></div>
  <div class='{{col 5}} {{offset 2}} well' id="numberProjectIndcatorContainer"></div>
</div>
<div class="row">
  <div class='{{col 5}} well' id="newsContainer"></div>
  <div class='{{col 5}} {{offset 2}} well' id="arrivalContainer"></div>
</div>