<div class="well">
  <h2>Consultation du contect {{id}}</h2>
  {{#display}}
    {{display_for "firstName"}}
    {{display_for "lastName"}}
    {{display_for "email"}}
    {{display_for "phone"}}
    {{display_for "poleCode" listKey='poles'}}
    {{button_edit}}
  {{/display}}
</div>
