<div class="well">
  <h2>Consultation du contact {{id}}</h2>
  {{#form}}
    {{input_for "firstName"}}
    {{input_for "lastName"}}
    {{input_for "email"}}
    {{input_for "phone"}}
    {{options_selected "poleCode" listKey='poles'}}
    {{button_save}}
    {{button_cancel}}
  {{/form}}
</div>