{{!-- Search criteria  --}}
<div class='{{col "4"}} well  animated fadeIn'>
  {{#criteria}}
    {{#form}}
      {{input_for "firstName" isNoLabel=true}}
      {{input_for "lastName" isNoLabel=true}}
      {{input_for "email" isNoLabel=true}}
      {{input_for "phone" isNoLabel=true}}
      {{options_selected "poleCode" listKey='poles' isNoLabel="true"}}
      {{button_search}}
      {{button_create}}
    {{/form}}
  {{/criteria}}
</div>
{{!-- Container for the results after the search --}}
<div class='{{col "7"}} {{offset "1"}}'>
  {{result_container}}
</div>