<h2>Résultats <span class="badge">{{totalRecords}}</span></h2>
<div class="animated fadeInLeft">

{{#result isTable=false showHeaderActions=false isPaginate=false}}
  {{#each collection}}
    <div data-id='{{id}}' class="list-group-item {{poleCode}} well">
      <div class="row-picture">
      <img class="circle" src="{{imagePath}}" alt="icon">
     </div>
      <div class="row-content">
          <h4>
            {{display_for "firstName" isNoLabel=true noHtml=true}}
            {{display_for "lastName" isNoLabel=true noHtml=true}}
          </h4>
          <p>
            {{display_for "email" isNoLabel=true noHtml=true}}
            {{display_for "phone" isNoLabel=true noHtml=true}}
          </p>
      </div>
    </div>
    {{!-- <div class="list-group-separator"></div> --}}
  {{/each}}
{{/result}}
</div>